<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Danh sách khách hàng</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
            crossorigin="anonymous">
    </script>
</head>
<body>
<div th:insert="layout::header"></div>
<div th:insert="layout::navbar"></div>
<div class="row">
    <!--    <div th:insert="layout::sidebar" class="col-1"></div>-->
    <div class="col-12 container-fluid">
        <h1 class="text-center">Danh sách khách hàng</h1>
        <a th:href="@{/customer/create}">
            <button class="btn btn-primary">Thêm mới</button>
        </a>
        <div class="text-danger">
            <div th:if="${mess}">
                <p th:text="${mess}"></p>
            </div>
        </div>
        <br>
        <form class="d-flex m-0" th:action="@{/customer}" method="get">
            <input name="nameSearch" placeholder="Nhập tên" th:value="${nameSearch}">

            <select name="typeSearch" th:if="${typeSearch==0}">
                <option th:value="0">Tất cả</option>
                <option th:each="customerType : ${customerTypeList}" th:value="${customerType.id}"
                        th:text="${customerType.name}">
                </option>
            </select>
            <select name="typeSearch" th:if="${typeSearch!=0}">
                <option th:each="customerType : ${customerTypeList}" th:value="${customerType.id}"
                        th:text="${customerType.name}" th:if="${typeSearch==customerType.id}">
                </option>
                <option th:each="customerType : ${customerTypeList}" th:value="${customerType.id}"
                        th:text="${customerType.name}" th:if="${typeSearch!=customerType.id}">
                </option>
                <option th:value="0">Tất cả</option>
            </select>

            <button class="btn btn-outline-primary" type="submit">Tìm kiếm</button>
        </form>
        <br>
        <table class="table table-striped">
            <tr class="text-center">
                <th>STT</th>
                <th>Loại khách</th>
                <th>Tên khách hàng</th>
                <th>Ngày sinh</th>
                <th>Giới tính</th>
                <th>Mã số</th>
                <th>Số điện thoại</th>
                <th>Email</th>
                <th>Địa chỉ</th>
                <th>Sửa</th>
                <th>Xoá</th>
                <th>Chi tiết</th>
                <th scope="col">
                    <button id="btn" type="button" class="btn btn-secondary" data-bs-dismiss="modal"
                            data-bs-toggle="modal" data-bs-target="#deleteModals">Xoá nhiều
                    </button>
                </th>
            </tr>
            <tr th:each="customer, row : ${customerList}" class="text-center">
                <td th:text="${row.count}"></td>
                <td th:text="${customer.customerType.name}"></td>
                <td th:text="${customer.name}"></td>
                <td th:text="${customer.date_of_birth}"></td>
                <td th:text="${customer.gender?'Nam':'Nữ'}"></td>
                <td th:text="${customer.id_card}"></td>
                <td th:text="${customer.phone_number}"></td>
                <td th:text="${customer.email}"></td>
                <td th:text="${customer.address}"></td>
                <td class="text-center">
                    <a th:href="@{/customer/edit(id=${customer.getId()})}">
                        <button class="btn btn-primary">Sửa</button>
                    </a>
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#deleteModal"
                            th:attr="onclick=|deleteBlog('${customer.getId()}','${customer.getName()}')|">Xoá
                    </button>
                </td>
                <td class="text-center">
                    <button type="button" class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#detail"
                            th:attr="onclick=|showDetail('${customer.getId()}', '${customer.getName()}',
                             '${customer.customerType.getName()}','${customer.date_of_birth}',
                             '${customer.phone_number}')|">Chi tiết
                    </button>
                </td>
                <td class="text-center">
                    <label>
                        <input name="idDelete" class="form-check-input" type="checkbox" th:value="${customer.getId()}">
                    </label>
                </td>
            </tr>
            <tr th:if="${customerList.isEmpty()}">
                <td colspan="13" class="text-center">Danh sách trống.</td>
            </tr>
        </table>

        <div class="text-center">
            <a th:href="@{/customer(page=${customerList.number - 1}, nameSearch=${nameSearch},
                        typeSearch=${typeSearch})}"
               th:if="${customerList.hasPrevious()}">
                <button class="btn btn-primary">Trước</button>
            </a>

            <span th:text="${customerList.number + 1}"></span>/<span th:text="${customerList.totalPages}"></span>

            <a th:href="@{/customer(page=${customerList.number + 1}, nameSearch=${nameSearch},
                        typeSearch=${typeSearch})}"
               th:if="${customerList.hasNext()}">
                <button class="btn btn-primary">Sau</button>
            </a>
        </div>

        <!--Modal delete-->
        <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel">Xoá</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Bạn có muốn xoá khách hàng <span id="nameBlogDelete"></span> không?
                    </div>
                    <form action="/customer/delete" method="get">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Đóng
                            </button>
                            <button type="submit" class="btn btn-danger">Xoá</button>
                            <input hidden name="id" type="text" id="idDelete">
                            <input hidden name="action" value="delete" type="text" id="">
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!--Modal detail-->
        <div class="modal fade" id="detail" tabindex="-1" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Chi tiết</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-md-4"><h5>Mã blog</h5></div>
                                <h5></h5>
                                <div class="col-md-8 ms-auto" id="showIdDetail"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4"><h5>Tiêu đề</h5></div>
                                <div class="col-md-8 ms-auto" id="showTitleDetail"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4"><h5>Danh mục</h5></div>
                                <div class="col-md-8 ms-auto" id="showCategoryDetail"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4"><h5>Thời gian đăng</h5></div>
                                <div class="col-md-8 ms-auto" id="showTimeDetail"></div>
                            </div>
                            <hr>
                            <div class="row">
                                <div class="col-md-4"><h5>Tình trạng</h5></div>
                                <div class="col-md-8 ms-auto" id="showStatusDetail"></div>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!--Modal delete nhiều-->
        <div class="modal fade" id="deleteModals" data-bs-backdrop="static" data-bs-keyboard="false"
             tabindex="-1" aria-labelledby="staticBackdropLabel1" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="staticBackdropLabel1">Xoá Blog</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal"
                                aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <!--                        Bạn có muốn xoá blog có mã <span id="titleBlogDeletes"></span> không?-->
                        Bạn có muốn xoá những blog đã chọn không?
                    </div>
                    <form action="/customer/multiDelete" method="get">
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng
                            </button>
                            <button type="submit" class="btn btn-danger">Xoá</button>
                            <input hidden type="text" id="idDeleteMore" name="idDeleteMore">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:insert="layout::footer"></div>
</body>
<script th:inline="javascript">
    function deleteBlog(id, name) {
        document.getElementById('nameBlogDelete').innerText = name;
        document.getElementById('idDelete').value = id;
    }

    function showDetail(id, title, category, time, status) {
        document.getElementById("showIdDetail").value = id;
        document.getElementById("showTitleDetail").innerText = title;
        document.getElementById("showCategoryDetail").innerText = category;
        document.getElementById("showTimeDetail").innerText = time;
        document.getElementById("showStatusDetail").innerText = status;
    }

    document.getElementById('btn').onclick = function () {
        let checkbox = document.getElementsByName('idDelete');
        let result = "";
        for (let i = 0; i < checkbox.length; i++) {
            if (checkbox[i].checked === true) {
                result += '.' + checkbox[i].value;
            }
        }
        document.getElementById('idDeleteMore').value = result;
    };
</script>
</html>